.text-before::before {
    content: ' ❝';
    font-size: 20px;
}

.text-before::after {
    content: ' ❞';
    font-size: 20px;
}

.team-bg {
    background-color: #0096878a;
    border: 2px solid #009687d2
}