.foo {
    margin-top: 220px;
    background: #00968770;
    border-top: 3px solid #009688;
}

.set-border {
    border-bottom: 3px solid #098b7eee;
}

.copyright-part {
    background-color: #22978cde;
}